#App {
    width: 100vw;
    height: 100vh;
}

.page {
    width: 100%;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: -fit-content;
    height: max-content;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
